<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luke Miller</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Luke</a>
      <a href="/cv">CV</a>
      <a href="/latest">Latest</a>
      <% if (session.user) { %>
      <a href="/admin">Admin</a>
      <a href="/logout">Logout</a>
      <% } %>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <script src="/js/app.js"></script>
</body>
</html>
